body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 80px;
}

.container {
    margin: 20px;
}

input, select, button {
    margin: 5px;
    padding: 10px;
}

button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
